# Параметры подключения к базе данных

# Название базы данных
POSTGRES_DB=kittygram
# Пользователь базы данных
POSTGRES_USER=kittygram_user
# Пароль для базы данных
POSTGRES_PASSWORD=kittygram_password
# Имя контейнера базы данных (не изменять!)
DB_HOST=db
# Порт для подключения к базе данных (не изменять!)
DB_PORT=5432

# Параметры Django

# Секретный ключ Django (заполнить обязательно!)
# Например, при установленном Django можно сгенерировать командой:
# python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=
# Включение режима отладки
DJANGO_DEBUG=false
# Список IP-адресов, которым разрешен доступ в режиме отладки
# IP-адреса разделяются запятыми (без пробелов!)
# Например, 127.0.0.1,localhost
DJANGO_ALLOWED_HOSTS=
